@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新闻首页 - MongoDB Dome";
}

<article class="art-list hidden" style="display:block !important" id="NewList"></article>
@section scripts{
    <script>
        $(function () {
            $.get("http://mongodb.api.com/api/New/GetNesList", { pageIndex: 1, pageSize: 20, kw: "" }, function (data, status) {
                if (data.ret == 0 && data.Success == true) {
                    var htmls = '';
                    $.each(data.Content, function (i, item) {
                        var time = new Date(item.ReleaseDate);
                        var times = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
                        if (item.NewType == "头条") {
                            htmls += '<section class="focus-tit"><h3 class="tit"><i></i><a href="/home/info?id=' + item.Id + '">' + item.Title + '</a></h3></section>';
                        } else if (item.NewType == "推荐") {
                            htmls += '<section class="art-tj2" style="display:block !important"><i></i><a href="/home/info?id=' + item.Id + '"><img src="' + item.Logo + '" width="90" height="60">' + item.Title + '</a></section>';
                        } else {
                            htmls += '<section class="art-box"><div class="bd"><a href="/home/info?id=' + item.Id + '" class="btn">' + item.NewType + '</a><a href="/home/info?id=' + item.Id + '" class="box"><img src="' + item.Logo + '"><h2 likeid="795400" typeid="html"><span>' + item.Title + '</span></h2><p style="overflow: hidden;text-overflow:ellipsis;white-space:nowrap;">' + item.Content + '</p></a></div><div class="ft"><span class="fl">' + times + '</span><a href="javascript:void(0);" class="fr"><em></em><span></span></a></div></section>';
                        }
                    });
                    $("#NewList").html(htmls);
                } else {
                    alert("无数据");
                }
            });
        })

    </script>
}
