<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--MongoDB数据库连接串-->
    <add key="MongoDBConn" value="mongodb://127.0.0.1:27017"/>
    <!--MongoDB数据库名称-->
    <add key="MongoDBName" value="mydb"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
